h1 {
	font-family: monospace;
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	align-items: center;
        border-radius: 1rem;
	text-align: center;
	border: 0.1rem solid white-color height: 100%;
}

body {
	 background-color: #000000;
	 color: #FFFFFF;
	 display: flex;
	 justify-content: center;
}

.container {
	 padding: 2rem;
	 text-align: center;
}


.btn {
	background-color: #32edd7;
	border: none;
        padding: 16px 32px;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
}
